<!DOCTYPE html>
<html>
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Potato-vator</title>
    <meta name="description" content="An elevator for the un-elevated.">
    <meta name="author" content="'Gnocchi' <Helen Yang & Jonathan Sun>">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" -->

    <link href="styles.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <h1> The Potato-Vator </h1>
    <h4> Enabling corgi transportation since 2017 </h4>
    <!-- Application
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="door">
        <button v-on:click="show = !show">
           potato
        </button>
        <transition name="fade">
            <div class="door">
                <img v-bind:style="{position: myPosition, top: topPosition, left: leftPosition}" v-if="!show" src="open-door.jpg" alt="elevator">
                <img v-bind:style="{position: myPosition, top: topPosition, left: leftPosition}" v-if="show" src="closed-door.jpg" alt="elevator">
                <img v-bind:style="{position: myPosition, top: topPosition, left: leftPosition}" v-if="!show" src="vator-corgi.png" alt="corgi">
            </div>
        </transition>
    </div>

    <!--<div id="elevator">
        <button v-on:click="slideElevator">
            move
        </button>
        <transition name="slide">
            <img v-bind:style="{position: myPosition, top: topPosition, left: leftPosition}" class="corgi" src="vator-corgi.png" alt="corgi">
        </transition>   
    </div -->
    <div id="corgi-mount-point">
    </div>

   


    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- script src="https://unpkg.com/vue/dist/vue.min.js"></script -->
    <script src="app.js"></script>

  </body>
</html>
